
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://cdn.jsdelivr.net/gh/devicons/devicon@v2.9.0/devicon.min.css');


// BRAND COLOURS
$brand-green:  #59ac5d;
$brand-green-trans:  RGBA(81,164,85,0.16);
$brand-dark-green:  #59ac5d;
$brand-navy:  #150941;

body {

  font-family: 'Roboto', sans-serif;
  padding-bottom: 100px;
}

.navbar {
  height: 70px;
  // background-color: $brand-green;
  color: $brand-green;
  // max-width: 1000px;
  margin: auto;
  box-shadow: 1px 1px blur;
  

  .container {
    // max-width: 1000px;
    // display: block;
    justify-content: space-evenly;
  }

  .is-active {
    margin-left: 20px;
  }

  .navbar-brand {
    margin: auto;
    display: flex;
    align-items: center;
    margin: 10px 20px 10px 20px; 
    // * above will move the position of green circle within its navbar div *
    font-size: 40;
    // max-width: 1000px;
    justify-content: space-between;
    .title {
      all: unset;
      margin-left: 25px;
      width: 20px;
      height: 20px;
      background-color: $brand-green;
      color:$brand-green;
      border-radius: 50%;
      border: none;
    }
    .title:hover {
      margin-left: 25px;
      width: 20px;
      height: 20px;
      background-color: $brand-dark-green;
      color:$brand-green;
      border-radius: 50%;
    }
  }
  .navbar-item {
    all: unset;
    display: flex;
    align-items: center;
    margin: 10px 20px 10px 20px;
    font-size: 40;
    max-width: 1000px;

    // .nav-button {
    //   padding: 10px;
    // }
  }
  .nav-button {
    all: unset;
    color: $brand-dark-green;
  }

  .is-active {
    padding: 4px;
    width: 100%;
    margin: -5px;
  }

  .nav-button:hover {
    all: unset;
    display: flex;
    align-items: center;
    // margin: 0 20px 0 20px;
    font-size: 40;
    max-width: 1000px;
    border-bottom: 1px solid;
    color: $brand-green;
    padding-bottom: -50px;
  }

  .navbar-burger {
    max-width: 40px;
    align-items: right;
  }
  .navbar-burger-is-active {
    max-width: 40px;
    align-items: right;
    display: flex;
  }
  .navbar-menu {
    .is-active {
      margin: -5px;
      height: 100%;
    }
  }
}

// BODY 

section {
  // max-width: 1000px;
  margin: auto;
  align-items: center;
  text-align: left;
  display: flex;
  flex-direction: column;
  color: $brand-green;
  // padding-top: 90px;
}

// ABOUT ME

.about-section {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  margin-top: 50px;
  // background-color: pink;
  padding-top: 20px;
  width: 100%;
  max-width: 1000px;
  justify-content: space-evenly;
  flex-wrap: wrap;

  div {
    margin: 40px;
    width: 400px;
    // min-width: 300px;
  }

  .name {
    transition: color 4s ease-out 100ms;
    // padding: 20px;
    // margin: 20px;
    // padding-left: 40px;
    // margin: 40px;
    // align-items: left;
    // justify-content: flex-start;
    // align-items: flex-start;
    h1 {
      font-size: 50px;
      
    }
    h3 {
      // padding-top: 20px;
      font-size: 30px;
      // font-weight: 600;
      transition: color 4s ease-out 100ms;
    }
  }
  .name:hover {
    color: $brand-dark-green;
  }
  .h3:hover {
    color: $brand-green;
  }
  // .about-me {
  //   margin: 40px;
  // }

}

//  TECH I LIKE

.technologies-section {
  // background-color: black;
  background-color: $brand-green;
  background-image: url('../images/leafy-background-overlay.png');
  background-size: cover;
  // padding-top: 30px;
  // margin-top: 30px;
  
  background-repeat: no-repeat, no-repeat;
  background-position: stretch;

  .heading {
    margin-top: 35px;
    padding-top: 30px;
    padding-bottom: 25px;
    font-size: 100%;
    font-weight: normal;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    color: white;
  }

  //  NEW TECH 

  .tech-div {
    align-items: center;
    margin: 20px;
    padding: 10px;
    color: white;
    transition: color 2s ease-out 100ms;
    i {
      font-size: 60px;
    }
    
    p {
      margin-top: 10px;
      padding-top: 10px;
      border-top: solid 1px;
      max-width: 100px;
    }
  }

  .tech-div:hover {
    color: rgb(212, 238, 163);
    p {
      margin-top: 10px;
      padding-top: 0;
      padding-bottom: 10px;
      border-top: 0;
      border-bottom: solid 1px;
    }
  }


  .technologies-wrapper {

    max-width: 900px;
    display: flex;
    flex-direction: row;
    // margin: auto;
    flex-wrap: wrap;
    // align-content: center;
    padding-bottom: 50px;
    justify-content: flex-start;
    margin: 0 auto;

    .tech-block {
      background-color: white;
      max-width: 200px;
      min-width: 150px;
      padding: 10px;
      margin: 10px 10px 10px 15px;
      justify-content: center;
      align-items: space-evenly;
      color: white;
      min-height: 200px;

      .tech-subtitle {
        font-size: 1em;
        line-height: 1.5;
        padding-left: 10px;
        font-weight: bold;
        margin-top: 20px;
        color: $brand-dark-green;
      }
      
      ul {
        display: flex;
        flex-wrap: wrap;
        padding: 5px;
        align-items: center;
        color: $brand-green;
        font-size: 0.83em;
        line-height: 2;
        margin-top: 5px;
        font-weight: bold;
        li {
          padding: 0 5px 0 5px;
          // align-items: center;
          // align-content: center;
          justify-content: space-between;
          
        }
      }
    }
  }
}

//  PROJECTS I HAVE WORKED ON

.projects-section {
  // background-color: red;
  color: $brand-green;
  padding-top: 100px;
  max-width: 1000px;

  .heading {
    padding-bottom: 5px;
    font-size: 100%;
    font-weight: normal;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
  }

  .projects-wrapper {
    // padding-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 auto;
    flex-wrap: wrap;

    

    .project-block {
    // max-width: 400px;
    // min-width: 300px;
    width: 400px;
    padding: 20px;
    margin: 20px;
    background-color: $brand-green;
    color: white;

      .project-title {
        display: block;
        margin-block-start: 1.33em;
        margin-block-end: 1.33em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
      }
      
      .project-tech {
        display: block;
        font-size: 0.83em;
        margin-block-start: 1.67em;
        margin-block-end: 1.67em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
        color: $brand-dark-green;
        
      }

      .project-description {
        text-align: left;
      }

      .project-link {
        display: flex;
        // align-items: center;
        margin-top: 15px;
        padding-bottom: 10px;
        
        .project-link-block {
          height: 15px;
          margin: 10px;
          
          svg:hover {
            fill: $brand-dark-green;

          }
        }
      }
    }

    .project-carousel {
      margin: 0 0 20px 0;
      padding: 20px 0;
      
      width: 400px;
      padding: 20px;
      margin: 20px;
      background-color: $brand-green-trans;
      color: white;

      div {
        width: 100%;
        height: 100%;
      }
      .carousel {
        height: 100%;

        .carousel-cell {

          height: 100%;
        }
      }
  
      
    }
    

/* move page dots into carousel */
.flickity-page-dots { bottom: 10px; }
  }
}

  //  GET IN TOUCH 

.contact-section {
  padding-top: 50px;

  .h3 {
    font-size: 30px;
    
  }
  .heading {
    padding-bottom: 5px;
    font-size: 100%;
    font-weight: normal;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
  }
  

  .name {
    display: flex;
    justify-content: center;
    margin: 40px 20px 20px 20px;
    font-size: 30px;
    
  }

  .contact-links {
    display: flex;
    justify-content: space-evenly;
    

    .contact-link-block {
      justify-content: space-between;
      display: flex;
      margin: 20px;

      svg {
        width: 40;
        height: 40;
        fill: $brand-dark-green;
      }
      SVG:HOVER {
        fill: $brand-green;
      }
    }
  }
}

// CAROUSEL FLICKITY 
// .carousel {
//   autoPlay: 1500;
// }
.carousel-cell {
  height: 160px;
  width: 50%;
  img {
    max-width: 640px;
    max-height: 480px;
  }
}
.project-1-block {
  background-color: $brand-green;
}


// MEDIA QUERIES

//media queries for index pages
@media only screen and (max-width: 950px) {
  .navbar {
    width: 100%;
  }

  .about-section {
    div {
      width: 100%;
    }
    }
    
    .technologies-wrapper {
    justify-content: flex-start;
    margin: auto;
    width: 700px; 
    // align-items: flex-start;
    
  }
  .tech-block {
    width: 50%;
    align-items: flex-start;
  }
  .contact-wrapper {
    margin: 0 auto;
  }  
}
@media only screen and (max-width: 800px) {

  .about-section {
    div {
      width: 100%;
    }
    }
    
    .technologies-wrapper {
    justify-content: flex-start;
    margin: 0 auto;
    width: 90%; 
    // align-items: center;
    
  }
  .tech-block {
    width: 50%;
    align-items: center;
  }

  
  
}

@media only screen and (max-width: 625px) {

  // .technologies-wrapper {
  //   justify-content: flex-start;
  //   margin: auto;
  // }
  // .tech-subsection {
  //   width: 100%;
  //   margin: auto;
  // }

  .about-section {
  div {
    width: 100%;
  }
  }
}

@media only screen and (max-width: 550px) {
  body {
    width: 100%;
  }

  .about-section {
    .name {
      margin: 0 40px;
      padding-top: 0px;
      h1 {
        font-size: 30px;
      }
      h3 {
        font-size: 15px;
      }
    }
  }
  // .contact-wrapper {
  //   width: 90%;
  // }
  .contact-section {
    text-align: center;
    .contact-wrapper {
      margin: 0 auto;
    }
  }
  // .technologies-wrapper {
  //   width: 100%;
  //   margin: 40px;
  //   .tech-block {
  //     width: 80%;
  //     margin: auto;
  //     justify-content: center;
  //     justify-content: space-around;
  //     align-items: center;
  //   }
  // }
}
@media only screen and (max-width: 375px) {
  body {
    width: 100%;
    margin: 0 auto;
    align-items: center;
    section {
      width: 100%;
      margin: 0;
    }
    .about-section {
      .name {
        margin: 0 40px;
        padding-top: 0px;
        h1 {
          font-size: 30px;
        }
        h3 {
          font-size: 15px;
        }
      }
      
    }
    .contact-section {
      text-align: center;
      .contact-wrapper {
        margin: 0 auto;
      }
    }
    
    .technologies-wrapper {
      width: 100%;
      .tech-block {
        width: 80%;
        margin-left: 40px;
      }
    }
  }
}
